{% extends 'base/main.html' %}
{% load static %}

{% block title %} Sign Up {% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'styles/signupcss.css' %}" type="text/css" media="screen">
{% endblock %}

{% block content %}
<div class="signup-body">
<div class="container">
    <h1 class="h1-signup">SIGN UP</h1>
    <form method="post" action=".">
        {% csrf_token %}
      <input type="text" name = "username" placeholder="User Name">
      <input type="password" name = "password1" placeholder="Password">
      <input type="password" name = "password2" placeholder="Repeat Password">
      
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div style="color:red;text-align: center;">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}    
        {% endfor %} 
    {% endif %} 
    <button type="submit">Submit</button>

    </form>
  </div>
</div>
{% endblock content %}